.music-control {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 200px; */
}

#playing {
	background-color: rgb(208, 250, 208);
}

#paused {
  background-color: rgb(241, 151, 151);
}

button {
	width: 75px;
	height: 30px;
	border-radius: 5px;
}

#stop {
  background-color: rgb(71, 70, 69);
  color: #FFF;
}

#stop:disabled {
  background-color: aliceblue;
  color: black;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: -30px; */
  margin-top: -10px;
}

.timer {
  font-style: italic;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 295px;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid rgb(49, 49, 49);
  height:  35px;
  margin-top: -1px;
  width: 15px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(231, 230, 230);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 33.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #005555;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid rgb(49, 49, 49);
  height:  35px;
  width: 15px;
  margin-top: -1px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(231, 230, 230);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 33.4px;
  margin-top: -24px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

/** IE */
input[type=range]::-ms-track {
  width: 100%;
  height: 33.4px;
  margin-top: -24px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-thumb {
  border: 1px solid rgb(49, 49, 49);
  height:  35px;
  width: 15px;
  margin-top: -1px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(231, 230, 230);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}